<section class="main">
  <div class="container main__container">
    <div class="main__info">
      <h1 class="double-title main__double-title">Самая вкусная пицца в мире <span class="double-title__span">только в Pizza Cheff</span></h1>
      <div class="main__advantages">
        <div class="advantage">
          <div class="advantage__img">
            <img src="../../../../assets/img/hop.png" alt="">
          </div>
          <div class="advantage__text">
            <h3 class="advantage__title">Лучшее тесто</h3>
            <div class="advantage__descr">Мы создаем тесто только из отборной итальянской муки наивысшего качества
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage__img">
            <img src="../../../../assets/img/kitchen-pack.png" alt="">
          </div>
          <div class="advantage__text">
            <h3 class="advantage__title">лучшие повара</h3>
            <div class="advantage__descr">Пиццы готовят самые профессиональные итальянские повара</div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage__img">
            <img src="../../../../assets/img/seo-and-web.png" alt="">
          </div>
          <div class="advantage__text">
            <h3 class="advantage__title">гарантия качества</h3>
            <div class="advantage__descr">Наша пиццерия получила множество наград и признаний по всему миру
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage__img">
            <img src="../../../../assets/img/holidays.png" alt="">
          </div>
          <div class="advantage__text">
            <h3 class="advantage__title">отборные рецепты</h3>
            <div class="advantage__descr">Мы используем рецепты от мировых лидеров в изготовлении пиццы
            </div>
          </div>
        </div>

      </div>
      <div class="main__action">
        <a class="btn main__btn" (click)="test()">Выбрать пиццу</a>
      </div>
    </div>
    <div class="main__img">
      <img class="main__img-img" src="../../../../assets/img/pizza.png" alt="">
    </div>
  </div>
</section>

<app-popup [data]="'main component'"></app-popup>



