<section class="order about">
  <div class="container order__container">
    <div class="">
      <div class="order__double-title double-title">
        <span class="double-title__span">Лучшая</span> итальянская пиццерия!
      </div>
      <div class="order__text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolorum eaque perferendis quia. Accusamus accusantium atque dolor dolore dolorum
        fugit illum natus, nihil, non porro quas quis ratione voluptate! Ab, accusantium aperiam autem corporis debitis dolores ducimus eaque enim et hic ipsa
        ipsum labore magni, minima numquam obcaecati officia!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolorum eaque perferendis quia. Accusamus accusantium atque dolor dolore dolorum
        fugit illum natus, nihil, non porro quas quis ratione voluptate! Ab, accusantium aperiam autem corporis debitis dolores ducimus eaque enim et hic ipsa
        ipsum labore magni, minima numquam obcaecati officia!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolorum eaque perferendis quia. Accusamus accusantium atque dolor dolore dolorum
        fugit illum natus, nihil, non porro quas quis ratione voluptate! Ab, accusantium aperiam autem corporis debitis dolores ducimus eaque enim et hic ipsa
        ipsum labore magni, minima numquam obcaecati officia!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolorum eaque perferendis quia. Accusamus accusantium atque dolor dolore dolorum
        fugit illum natus, nihil, non porro quas quis ratione voluptate! Ab, accusantium aperiam autem corporis debitis dolores ducimus eaque enim et hic ipsa
        ipsum labore magni, minima numquam obcaecati officia!
      </div>
    </div>
    <div class="about-image">
      <img src="../../../../assets/img/pizza.png" alt="">
      <img src="../../../../assets/img/pizza.png" alt="">
    </div>
  </div>
</section>

<app-popup [data]="'about component'"></app-popup>

