<section class="products">
  <div class="container">
    <h2 class="products__title">Описание пиццы</h2>
    <div class="product__item">


        <div class="product__img" *ngIf="product.image">
          <img src="{{product.image}}">
        </div>

        <custom-title [title]="product.title | uppercase"></custom-title>

        <div class="product__text">{{product.description | wordUpper: ['томат','сыр','гриб']}}</div>
        <div class="product__btn" #elem>
          <a class="btn product__btn-btn" routerLink="/order" [queryParams]="{product: product.title}">В корзину</a>
        </div>


    </div>
  </div>
</section>
